{% extends 'root/base.html' %}
{% load static %}

{% block title %} Organizational Announcements (Admin Tool) {% endblock %}
{% block maincontent %}

<div class="container-fluid">
    <div class="mep-form_wrapper">

        <div class="d-flex justify-content-between">
            <h3>Organizational Announcements</h3>
            <div>
                <button class="btn btn-primary"
                    onclick="window.open(href = '{% url 'eProc_Org_Support:org_announcement_save' %}')">
                    <i class="fas fa-user-plus"></i>
                    add new announcement
                </button>
            </div>
        </div>

        <hr>

        <div class="card card-shadow-1">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label for="">Title/Description</label>
                            <input type="text" class="form-control check_for_search" id="announcement_subject"
                                name="announcement_subject">
                                <small class="form-text text-muted">Use * as a wild card search criteria (eg. Apple - App*, *ple, *ppl*</small>
                        </div>
                        <div class="col-md">
                            <label for="">Status</label>
                            <select type="text" class="form-control" id="announcement_status" name="status">
                                {% for status in status_dropdown_values %}<option value="{{ status }}"> {{ status }}
                                </option>{% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="">Priority</label>
                            <select type="text" class="form-control" id="priority" name='priority'>
                                {% for priority in priority_dropdown_values %}<option value="{{ priority }}"> {{ priority }}
                                </option>{% endfor %}
                            </select>
                        </div>
                        <div class="col-auto my-1">
<button class="button-search-users btn btn-primary" type="submit" title="Please click to get the search details!"
    onclick="saveDataToLocalStorage();">
    <i class="fas fa-search"></i> search
</button>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
<input type="reset" value="Clear filters" class="ip-form-clear-filters btn btn-link" onclick="clearFilters()">
                        </div>
                    </div>
                </form>
            </div>
        </div>

     <!-- {% if announcement_result1.count > 0 %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">Total number of results found
                    :{{announcement_result1.count}}</h6>
            </div>
        </div>
        {% elif announcement_result1.count == 0  %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">No Results Found</h6>
            </div>
        </div>
        {% endif %} -->

    <div id="error_msg_div" class="alert alert-success" hidden><span id="success_msg_id"></span></div>

    {% if announcement_result1 %}
    <div class="card mt-5">
        <div>
            <button class="btn btn-primary  btn-sm mt-2 ml-2" title="Delete" id="id_delete_annsmt" value="annsmt_delete"
                data-toggle="modal" data-target="#id_delete_confirm_popup" style="display:none;">
                <i class="fa fa-trash"></i> delete
            </button>
            <div>
                <table id="sup_tab" class="table qwsqwsqws">
                    <thead class="thead-light">
                        <tr>
                            <th id="hg_select_checkbox" scope="col"> <div id="id_check_all"> <input type="checkbox" id="selectAll" onclick="checkAll(this)"></div></th>
                            <th hidden> GUID </th>
                            <th> Announcement Number </th>
                            <th> Title </th>
                            <th> DESCRIPTION </th>
                            <th> STATUS </th>
                            <th> PRIORITY </th>
                            <th> FROM DATE</th>
                            <th> TO DATE</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="sup_tab_body">

                        {% for results in announcement_result1 %}

                        <tr id="tr_{{results.announcement_subject}}">
                            <td><input type="checkbox" class="annsmt_checkbox" onclick="valueChanged();"></td>
                            <td hidden>{{results.unique_announcement_id}}</td>
                            <td><a style="color: #049ca2;"
                                    href="{% url 'eProc_Admin_Tool:org_announcement_details' results.unique_announcement_id %}"
                                    id="{{results.unique_announcement_id}}" class="org-table-action-icon"
                                    target="_blank">{{results.announcement_id}}</a> </td>
                            <td>{{results.announcement_subject}} </td>
                            <td>{{results.announcement_description}}</td>
                            <td>{{results.status}}</td>
                            <td>{{results.priority}}</td>
                            <td>{{results.announcement_from_date|date:'d-m-Y'}}</td>
                            <td>{{results.announcement_to_date|date:'d-m-Y'}}</td>
                            <td>
                                <i class="fas fa-trash-alt hg-icon-blue-primary" title="Delete Announcement"
                                    id="{{results.announcement_id}}" onclick="get_annsmt_detail_to_delete(this.id)"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>


<!--</div>-->
<!--modal popup for announcement delete-->
<div class="modal fade" id="confirm_delete_pop_up" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete "<span id="form_id_del"></span>". Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="delete_announcement()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--delete confirmation popup-->
<div class="modal fade" id="id_delete_confirm_popup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please Confirm</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="main_table_delete()" class="btn btn-primary"><i class="fas fa-check"></i>
                    yes </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i>
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end of delete confirmation popup-->

<script>

    $(document).ready(function () {
        nav_bar_admin();
        console.log(document.getElementById("announcement_subject").value);
        document.getElementById("announcement_subject").value = "";
        table_sort_filter_basic("qwsqwsqws")
    });

        // Function to store form data in localStorage
    function saveDataToLocalStorage() {
        localStorage.setItem("announcement_subject", document.getElementById("announcement_subject").value);
        localStorage.setItem("announcement_status", document.getElementById("announcement_status").value);
        localStorage.setItem("priority", document.getElementById("priority").value);
    }

    // Function to set input fields from localStorage
    function setFieldsFromLocalStorage() {
        document.getElementById("announcement_subject").value = localStorage.getItem("announcement_subject");
        document.getElementById("announcement_status").value = localStorage.getItem("announcement_status");
        document.getElementById("priority").value = localStorage.getItem("priority");
    }

    // Call the function to set input fields from localStorage when the page loads.
    window.onload = function() {
        setFieldsFromLocalStorage();
    };

    function reload() {
        setFieldsFromLocalStorage();
        OpenLoaderPopup();
    }

    // Function to clear filters and clear localStorage data
    function clearFilters() {
        document.getElementById("announcementForm").reset();
        localStorage.removeItem("announcement_subject");
        localStorage.removeItem("announcement_status");
        localStorage.removeItem("priority");
        reload();
    }


    $('#search_announcements_button').click(function () {
        OpenLoaderPopup();
    })


    function get_annsmt_detail_to_delete(element) {
        data_delete = element;
        document.getElementById("form_id_del").innerHTML = data_delete;
        $('#confirm_delete_pop_up').modal('show')
    }

    // Function to delete announcement
    function delete_announcement() {
        var annsmt_info = [];
        annsmt_info.push(data_delete);
        $('#confirm_delete_pop_up').modal('hide');
        data = annsmt_info;
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Admin_Tool:delete_org_announcement' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Response) {
                display_annsmt_data(Response.announcement_result1);
                $("#error_msg_div").prop("hidden", false);
                if(Response.success_message){
                    $('#success_msg_id').text(Response.success_message);
                    document.getElementById("success_msg_id").text = Response.success_message;
                    $("#id_delete_annsmt").hide();
                }
<!--                setTimeout(function () { $("#error_msg_div").prop("hidden", true); }, 5000)-->
                message_display_time();
            }
        });
    }


function display_annsmt_data(annsmt_data) {
    var org_annsmt_html = '';
    $('#sup_tab').DataTable().destroy();
    $("#sup_tab_body").empty();

    $.each(annsmt_data, function (i, annsmt) {
        if (annsmt.announcement_id) {
            checkbox_input = '<input type="checkbox" class="annsmt_checkbox" onclick="valueChanged()"  >';
        } else {
            checkbox_input = '<input type="checkbox" class="annsmt_checkbox" onclick="valueChanged()" >';
        }

        const date1 = new Date(annsmt.announcement_from_date);
        const date2 = new Date(annsmt.announcement_to_date);
        // get the date as a string in the format dd-mm-yyyy
        const from_date = ("0" + date1.getDate()).slice(-2) + "-" + ("0" + (date1.getMonth() + 1)).slice(-2) + "-" + date1.getFullYear();
        const to_date = ("0" + date2.getDate()).slice(-2) + "-" + ("0" + (date2.getMonth() + 1)).slice(-2) + "-" + date2.getFullYear();

        org_annsmt_html += '<tr id="' + annsmt.announcement_id + '"><td>' + checkbox_input + '</td> ' +
            '<td hidden>' + annsmt.unique_announcement_id + '</td>' +
            '<td><a href="#" id="' + annsmt.announcement_id + '" class="org-table-action-icon" target="_blank">' + annsmt.announcement_id + '</a></td>' +
            '<td>' + annsmt.announcement_subject + '</td>' +
            '<td>' + annsmt.announcement_description + '</td>' +
            '<td>' + annsmt.status + '</td>' +
            '<td>' + annsmt.priority + '</td>' +
            '<td>' + from_date + '</td>' +
            '<td>' + to_date + '</td>' +
            '<td><i class="fas fa-trash-alt hg-icon-blue-primary" title="Delete Announcement" id="' + annsmt.announcement_id + '" onclick="get_annsmt_detail_to_delete(this.id)"></i></td></tr>';
    });
    $("#sup_tab_body").append(org_annsmt_html);
    table_sort_filter('sup_tab');
}




    function main_table_delete() {
        main_table_annsmt_checked = [];
        $("#sup_tab TBODY TR").each(function () {
            var row = $(this);
            var abc = row.find("TD").eq(1).html();;
            console.log(abc);
            var country_arr_obj = {};
            var check_status = row.find("TD").eq(0).find('input[type="checkbox"]').is(':checked');
            if (check_status) {
                main_table_annsmt_checked.push(abc);
            }
        });
        $('#id_delete_confirm_popup').modal('hide');
        console.log(main_table_annsmt_checked);
        data = main_table_annsmt_checked
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Admin_Tool:delete_org_announcement' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Response) {
                display_annsmt_data(Response.announcement_result1);
                if(Response.success_message){
                    $('#success_msg_id').text(Response.success_message)
                }
                //document.getElementById("success_msg_id").text = Response.success_message;
                $("#id_delete_annsmt").hide();
                $("#error_msg_div").prop("hidden", false)
<!--                setTimeout(function () { $("#error_msg_div").prop("hidden", true); }, 5000)-->
                message_display_time();
            }
        });
    }


    function valueChanged() {
        if ($('.annsmt_checkbox').is(":checked")) {
            $("#id_delete_annsmt").show();
        } else {
            $("#id_delete_annsmt").hide();
        }
    }

        //onclick of select all checkbox
    function checkAll(ele) {
        if (ele.checked) {
            $('.annsmt_checkbox').each(function() {
                var disable_check = this.disabled
                if(disable_check == false){
                    this.checked = true;
                    $("#id_delete_annsmt").show();
                }
            });
        }
        else{
            $('.annsmt_checkbox').each(function() {
                var disable_check = this.disabled
                if(disable_check == false){
                    this.checked = false;
                    $("#id_delete_annsmt").hide();
                }
            });
        }
    }

</script>

{% endblock %}