{% extends 'root/base.html' %}
{% load static %}
{% block title %} Approval Limits (Master Settings) {% endblock %}
{% block maincontent %}

{% include 'root/loader.html' %}

<div class="container-fluid">
    <div class="configuration-table_wrapper">

        <div class="elements-space-between">
            <h3>Maintain Approval Limits</h3>
            <div>
                <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Master_Settings:extract_approverlimit_data_template' %}'"type="button">
                    <i class="fas fa-download"></i> template
                </button>
                <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Master_Settings:extract_approverlimit_data'%} '"type="button">
                    <i class="fas fa-download"></i> extract data
                </button>
                <button class="btn btn-outline-primary modal_upload" id="id_upload_redirect_data" value="approval_limit_upload" onclick="onclick_upload_button()" type="button">
                    <i class="fas fa-cloud-upload-alt"></i> upload data
                </button>

                <button class="btn btn-primary" type="button" id="id_add_data" value="ADD" data-toggle="modal" data-target="#myModal" onclick="onclick_add_button(this)">
                    <i class="fa fa-plus"></i> add approval limit
                </button>
                  <button class="btn btn-outline-secondary" id="id_close" value="close" title="Close"  onclick="GetReferrer();">
                    <i class="fas fa-times"></i> close
                </button>
            </div>
        </div>

        <hr>

        <div class="configuration-table_section">
            <div id="err_msg_app_settings"> </div>
            <div id="err_msg_app_settings_t" class="alert alert-success" hidden><span id="success_msg_id"></span></div>

            <div class="table-container tcw-60">
                <div class="edit-button-section mb-4">
                    <button class="btn btn-secondary btn-sm" id="id_edit_data" onclick="onclick_edit_button()">
                        <i class="fas fa-edit"></i> edit
                    </button>
                    <button class="btn btn-outline-danger btn-sm" id="id_delete_data" value="approval_limit_delete" style="display:none;" data-toggle="modal" data-target="#id_delete_confirm_popup">
                        <i class="fa fa-trash"></i> Delete
                    </button>
<!--                    <button class="btn btn-primary btn-sm"  id="id_copy_data" style="display:none;" value="COPY" type="button" onclick="onclick_copy_button()">-->
<!--                        <i class="fa fa-copy"></i> Copy-->
<!--                    </button>-->
                    <button class="btn btn-primary btn-sm" id="id_update_data" style="display:none;" value="UPDATE" type="button" onclick="onclick_update_button()">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button class="btn btn-secondary btn-sm" id="id_cancel_data" style="display:none;" type="button" onclick="display_basic_db_data()">
                        <i class="fas fa-times"></i> cancel
                    </button>
                </div>
                <table id="display_basic_table" class="class_basic_approval_limit_table table table-bordered custom-table">
                    <thead id="id_approval_limit_table_header">
                    <tr>
                        <th id="hg_select_checkbox" hidden>
                            <div id="id_check_all" style="display:none;">
                                <INPUT type="checkbox" onchange="checkAll(this)" name="chk[]">
                            </div>
                        </th>
                        <th>User Name</th>
                        <th>Approver Limit</th>
                        <th>Company Number</th>
                        <th hidden>guid</th>
                    </tr>
                    </thead>
                    <tbody id="id_approval_limit_tbody">
                    {% for applimit in approval_limit %}
                    <tr>
                        <td class="class_select_checkbox" hidden><input type="checkbox" class="checkbox_check" onclick="valueChanged()" required></td>
                        <td>{{ applimit.approver_username}}</td>
                        <td>{{applimit.app_code_id}}</td>
                        <td>{{applimit.company_id}}</td>
                        <td hidden>{{applimit.app_guid}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <!--end of display basic approval_limit table-->

    <!--modal popup for Add,copy,update and upload-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Maintain Approval Limit</h5>
                    <button type="button" class="close remove_upload_data" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="popup-vertical-scroll">

                    <div id="id_del_add_button">
                        <button class="btn btn-primary" type="button" onclick="add_popup_row()"><i class="fa fa-plus"></i> Add New Row</button>
                        <button class="btn btn-outline-danger" onclick="application_settings_delete_Row('id_popup_table')"><i class="fa fa-trash" aria-hidden="true" title="Delete Line"></i> Delete</button>
                    </div>

                    <div id="id_check_success_messages" class="alert alert-success check_success_message" hidden></div>
                    <div id="id_check_error_messages" class="alert alert-danger check_error_messages" hidden></div>
                    <div id="id_check_special_character_messages" class="alert alert-danger check_special_character_messages" hidden>
                        <p id="id_error_msg_approval_limit_code"></p>
                        <p id="id_error_msg_approval_limit_name"></p>
                        <p id="id_error_msg_approval_limit_length"></p>
                    </div>
                    <div id="error_msg_id" class="alert alert-danger display-none" role="alert"><span id="error_message"></span></div>
                    <div id="id_warning_msg_id" class="alert alert-warning display-none" role="alert"></div>
                    <div id="id_info_msg_id" class="alert alert-primary display-none" role="alert"></div>



                    <table class="class_popup_table table table-bordered mt-2" id="id_popup_table">
                        <thead>
                        <tr>
                            <th id="header_select">Select</th>
                            <th>User Name</th>
                            <th>Approver Limit</th>
                            <th>Company Number</th>
                            <th hidden>guid</th>
                            <th id="id_del_ind_checkbox" hidden>Del Indicator</th>
                        </tr>
                        </thead>
                        <tbody id=id_popup_tbody>

                        </tbody>
                    </table>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline-primary remove_upload_data" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button id="id_delete_duplicate" class="btn btn-primary" style="display:none;" type="button" onclick="delete_duplicate()"><i class="fa fa-trash"></i> delete duplicates</button>
                    <button id="id_check_data" style="display:none;" class="btn btn-primary" type="button" onclick="check_data()"><i class="fas fa-check"></i> check</button>
                    <button class="btn btn-primary" id="save_id"><i class="fas fa-save"></i> save</button>                </div>
            </div>
        </div>
    </div>
    <!--end of modal popup for Add,copy,update and upload-->

    <!-- modal popup to upload the csv file; save confirmation popup; delete confirmation popup -->
    {% include 'configuration_common_pop_up.html' %}


    <div>
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div style="color: green; ">{{ message }}</div>
        {% endif %} {% if message.tags == 'error' %}
        <div style="color: red; ">{{ message }}</div>
        {% endif %} {% if message.tags == 'info' %}
        <div style="color: Black bold"><b>{{ message }}</b> </div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>

<script>
    var rendered_approval_limit_data = {{approval_limit|safe}};
    var rendered_app_code_id_data = {{upload_data_app_code_id|safe}};
    var rendered_company_data = {{upload_data_company|safe}};
    var rendered_user_data = {{user_details|safe}};
    var approval_limit_data_array = {}
    var main_table_approval_limit_value = [];
    var approval_limit = '';
    var edit_basic_data = '';
    var GLOBAL_ACTION = '';
    var no_duplicate_entries = 'Y'
    var Tablename = uiConstants["CONST_TABLENAME_APPROVAL_LIMIT"]
    var appname = uiConstants["CONST_APPNAME01"]
    var db_header_data = uiConstants["CONST_HEADER_DATA_APPROVAL_LIMIT"]
    //*********************************************
<!--    var app_code_id_dropdown = '';-->
<!--   var company_id_dropdown = '';-->
<!--    var user_name_dropdown = '';-->

    var app_code_id_dropdown = ""
    $.each(rendered_app_code_id_data, function(i, item){
        app_code_id_dropdown += '<option value="' + item.app_code_id + '">' + item.app_code_id + '</option>'
    });
     var company_id_dropdown=""
    $.each(rendered_company_data, function(i, item){
        company_id_dropdown += '<option  value="' + item.company_id + '">' + item.company_id + '</option>'
    });
    var user_name_dropdown =""

    $.each(rendered_user_data, function(i, item){
        user_name_dropdown += '<option value="' + item.username + '">' + item.username + '</option>'
    });

    //onclick of data Upload copy data to modal pop-up
    function onclick_display_csv_data() {
       $("#error_msg_id").css("display", "none")
        $('#id_popup_table').DataTable().destroy();
        formdata = new FormData();
         attached_file = $('#id_file_data_upload').prop('files')[0]
    file_extension = (attached_file.name).split(".")[1]
    file_extension = file_extension.toUpperCase();
    if(file_extension == 'CSV'){
        formdata.append("file_attach", attached_file);
        formdata.append("Tablename",Tablename);
        formdata.append("appname",appname);
        $('#id_data_upload').modal('hide');
        $('#id_popup_tbody').empty();
        OpenLoaderPopup();
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Basic_Settings:data_upload' %}",
            data: formdata,
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                if(response.error_message){
                    $("#id_error_msg_upload").prop("hidden",false)
                    document.getElementById("id_error_msg_upload").innerHTML = response.error_message;
                    document.getElementById("id_error_msg_upload").style.color = "Red";
                    $('#id_data_upload').modal('show');
                } else {
                    approval_limit_data_array = response;
                    var edit_basic_data = '';
                    var dropdown_values = [];
                    var del_ind = '';
                    $("#id_popup_tbody").empty();
                    $.each(response.data, function(i, value) {

                        var app_code_id_value = value[1]
                        var company_type_value = value[2]
                        dropdown_values.push([app_code_id_value, company_type_value])
                        del_ind = '<td>' + value[3] + '</td>'
                        if (value[1] == 1) {
                            del_ind = ' <input type="checkbox" value="' + value[2] + '" checked>'
                        } else {
                            del_ind = '<input type="checkbox" value="' + value[2] + '" required>'
                        }
                        edit_basic_data += '<tr><td><input type="checkbox" required></td><td><input class="form-control"  type="text" value="'+value[0]+'" maxlength="16" onkeypress="return /[a-z0-9]/i.test(event.key)" name="approver_user" style="text-transform:uppercase;" required></td><td><select class="form-control" type = "text">'+app_code_id_dropdown+'</select></td><td><select class="form-control" type = "text">'+company_id_dropdown+'</select></td><td hidden><input type="text" value=""></td><td>' + del_ind + '</td></tr>';
                    });
                    $('#id_popup_tbody').append(edit_basic_data);
                    var i =0;
                    $("#id_popup_table TBODY TR").each(function() {
                        var row = $(this);
                        var app_code_id_value = dropdown_values[i][0]
                        var company_type_value = dropdown_values[i][1]
                        $(row.find("TD").eq(2).find("select option[value="+app_code_id_value+"]")).attr('selected','selected');
                        $(row.find("TD").eq(3).find("select option[value="+company_type_value+"]")).attr('selected','selected');
                        i++;
                    });
                    $("#id_del_ind_checkbox").prop("hidden", false);
                    $(".class_del_checkbox").prop("hidden", false);
                    $('#myModal').modal('show');
                    $('#id_data_upload').modal('hide');
                    document.getElementById("id_check_data").style.display = "block";
                    document.getElementById("id_del_add_button").style.display = "block";
                    $("#id_check_data").prop("hidden", false);
                    $("#save_id").prop("hidden", true);
                    table_sort_filter_popup_pagination('id_popup_table')
                }
               CloseLoaderPopup();
            },
            cache: false,
            processData: false,
            contentType: false,

        });
    }
    else{
        $("#id_error_msg_upload").prop("hidden",false)
               
                    var msg = "JMSG110";
                    var msg_type ;
                  msg_type = message_config_details(msg);
                  $("#error_msg_id").prop("hidden", false)

                  if(msg_type.message_type == "ERROR"){
                        display_message("error_msg_id", msg_type.messages_id_desc[0])
                  }
                  else if(msg_type.message_type == "WARNING"){
                     display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
                  }
                  else if(msg_type.message_type == "INFORMATION"){
                     display_message("id_info_msg_id", msg_type.messages_id_desc[0])
                  }
                  var display = msg_type.messages_id_desc[0];
                  document.getElementById("id_error_msg_upload").innerHTML = display;

        document.getElementById("id_error_msg_upload").style.color = "Red";
        $('#id_data_upload').modal('show');
    }
}
    
  
// validate and save for add,copy,update and upload data
    function popup_save_data() {
    $('#success_msg_id').empty()
        $('#id_popup_table').DataTable().destroy();

        var countries_data = new Array();
        var main_table_low_value = [];
        var error_message = '';
        no_duplicate_entries = 'Y'
        no_duplicate_value = 'Y'

        $('#display_basic_table').DataTable().destroy();
        $("#display_basic_table TBODY TR").each(function() {
            var row = $(this);
            var main_attribute = {};
            main_attribute.approver_username = row.find("TD").eq(1).html();
            main_attribute.app_code_id = row.find("TD").eq(2).html();
            main_attribute.company_id = row.find("TD").eq(3).html();
            var approval_limit_compare_maintable = main_attribute.approver_username +'-'+ main_attribute.app_code_id +'-'+main_attribute.company_id
            main_table_low_value.push(approval_limit_compare_maintable);
        });
        table_sort_filter('display_basic_table');
        [no_duplicate_value,error_message] = compare_table_for_duplicate_entries(validate_add_attributes,approval_limit_data )
        if (error_message){
            display_error_message(error_message)
            }
            else{
            if ((GLOBAL_ACTION == "COPY") || (GLOBAL_ACTION == "ADD")) {
               [no_duplicate_entries,error_message] = maintable_validation(validate_add_attributes, main_table_low_value)
            }
            if ((no_duplicate_value == 'Y') && (no_duplicate_entries == 'Y')) {
                var add_basic_data = '';
                var approval_limit_data_array = approval_limit_data;

                $('#id_save_confirm_popup').modal('hide');
                data = {'data':approval_limit_data,'table_name':'ApproverLimit','action':GLOBAL_ACTION}
                OpenLoaderPopup();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'eProc_Master_Settings:create_update_master_data' %}",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(Response) {
                        rendered_approval_limit_data = Response[0];
                        display_basic_db_data();
                        $('#myModal').modal('hide');
                         //$('#id_error_msg').text(messageConstants["JMSG001"])
                         $('#success_msg_id').text(Response[1])
                          if(Response[1].message_type== 'SUCCESS'){
                                     $('#success_msg_id').text(Response[1].message_desc)
                          }
                        $("#err_msg_app_settings_t").prop("hidden", false)
                        table_sort_filter('id_popup_table');
                        setTimeout(function() {
                            $("#err_msg_app_settings_t").prop("hidden", true);
                        }, 5000)
                        table_sort_filter('id_popup_table');
                        CloseLoaderPopup();
                    }
                });
                }
                else if (error_message){
                display_error_message(error_message)
       }
        }

      }
    //***************************
    //delete the selected row in db................
    var main_table_approval_limit_checked = [];

    function main_table_delete() {
    $('#success_msg_id').empty()
    GLOBAL_ACTION = 'DELETE'
    main_table_approval_limit_checked = [];
        $('#display_basic_table').DataTable().destroy();
        $("#display_basic_table TBODY TR").each(function() {
            var row = $(this);
            var approval_limit_arr_obj = {};
            approval_limit_arr_obj.del_ind = row.find("TD").eq(0).find('input[type="checkbox"]').is(':checked');
            if(approval_limit_arr_obj.del_ind){
            approval_limit_arr_obj.approver_username = row.find("TD").eq(1).html();
            approval_limit_arr_obj.app_code_id = row.find("TD").eq(2).html();
            approval_limit_arr_obj.company_id = row.find("TD").eq(3).html();
            approval_limit_arr_obj.app_guid = row.find("TD").eq(4).html();
            main_table_approval_limit_checked.push(approval_limit_arr_obj);
            }
        });
        $('#id_delete_confirm_popup').modal('hide');
        data = {'data':main_table_approval_limit_checked,'table_name':'ApproverLimit','action':GLOBAL_ACTION}
        OpenLoaderPopup();
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Master_Settings:create_update_master_data' %}",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(Response) {
                rendered_approval_limit_data = Response[0];
                display_basic_db_data();
                $('#success_msg_id').text(Response[1])
                  if(Response[1].message_type== 'SUCCESS'){
                         $('#success_msg_id').text(Response[1].message_desc)
                }
                $("#err_msg_app_settings_t").prop("hidden", false)
                 table_sort_filter('id_popup_table');
                setTimeout(function() {
                    $("#err_msg_app_settings_t").prop("hidden", true);
                }, 5000)
                 table_sort_filter('id_popup_table');
                  CloseLoaderPopup();
            }
        });
    }
    //******************************************

    //check function restricting special char and diaplay the data count of csv file
    function check_data() {
        $('#id_popup_table').DataTable().destroy();
        $("#id_check_success_messages").empty()
        $("#id_check_error_messages").empty()
        $("#id_check_success_messages").prop("hidden", true)
        $("#id_check_error_messages").prop("hidden", true)
        $("#id_check_special_character_messages").prop("hidden", true)
        document.getElementById("id_error_msg_approval_limit_code").innerHTML = "";
        document.getElementById("id_error_msg_approval_limit_name").innerHTML = "";
        document.getElementById("id_error_msg_approval_limit_length").innerHTML = "";
        count = 0;
        var approval_limit_array = new Array
        var DB_array = new Array
        var approval_limit_list = new Array
        var approval_limit_code_check = new Array
        var approval_limit_compare = '';
        var Duplicate_count = 0;
        del_ind = ''
        $("#id_popup_table TBODY TR").each(function() {
            var row = $(this);
              approv_limit_dic = {}
            //*************** reading data from the pop-up ***************
            approv_limit_dic.approver_username = row.find("TD").eq(1).find('input[type="text"]').val();
            approv_limit_dic.app_code_id = row.find("TD").eq(2).find("select option:selected").val();
            approv_limit_dic.company_id = row.find("TD").eq(3).find("select option:selected").val();
            approv_limit_dic.app_guid = row.find("TD").eq(4).find('input[type="text"]').val().toUpperCase()
            approval_limit_compare = approv_limit_dic.approver_username +'-'+ approv_limit_dic.app_code_id +'-'+ approv_limit_dic.company_id
            checked_box = row.find("TD").eq(5).find('input[type="checkbox"]').is(':checked')
            if (checked_box) {
                approv_limit_dic.del_ind = '1'
            } else {
                approv_limit_dic.del_ind = '0'
            }
            approval_limit_list.push(approv_limit_dic)

            var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;


            //*************** checking for max length for approval_limit code (max length = 16) ***************
            if(approv_limit_dic.app_code_id.length >30) {
                     
                            var msg = "JMSG004";
                            var msg_type ;
                          msg_type = message_config_details(msg);
                          $("#error_msg_id").prop("hidden", false)

                          if(msg_type.message_type == "ERROR"){
                                display_message("error_msg_id", msg_type.messages_id_desc[0])
                          }
                          else if(msg_type.message_type == "WARNING"){
                             display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
                          }
                          else if(msg_type.message_type == "INFORMATION"){
                             display_message("id_info_msg_id", msg_type.messages_id_desc[0])
                          }
                            var display = msg_type.messages_id_desc[0];
                         document.getElementById("id_error_msg_approval_limit_length").innerHTML = display + "Approval Limit Code";


                $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                count = count + 1;
            }

            //*************** checking for special characters for approval_limit code ***************
            else if (format.test(approv_limit_dic.approver_username)) {
                 
                            var msg = "JMSG003";
                            var msg_type ;
                          msg_type = message_config_details(msg);
                          $("#error_msg_id").prop("hidden", false)

                          if(msg_type.message_type == "ERROR"){
                                display_message("error_msg_id", msg_type.messages_id_desc[0])
                          }
                          else if(msg_type.message_type == "WARNING"){
                             display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
                          }
                          else if(msg_type.message_type == "INFORMATION"){
                             display_message("id_info_msg_id", msg_type.messages_id_desc[0])
                          }
                            var display = msg_type.messages_id_desc[0];
                           document.getElementById("id_error_msg_approval_limit_code").innerHTML = display + "Username";

                $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                count = count + 1;
            } else {
                $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "none");
            }



            if (approval_limit_code_check.includes(approval_limit_compare)) {
                $(row).css("border", "#f8d7da");
                //$(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                //$(row.find("TD").eq(2).find('input[type="text"]')).css("border", "1px solid #FF0000");
                Duplicate_count = Duplicate_count + 1;

            } else {
                $(row).css("border", "");
            }

            approval_limit_code_check.push(approval_limit_compare)
        });

        //*************** shows save button if there are no errors(special characters and max length) ***************
        if (count == 0) {
            $("#id_check_special_character_messages").prop("hidden", true)
            $("#save_id").prop("hidden", false);
        }
        popup_data_dict = {
            'data_list': approval_limit_list
           }
        OpenLoaderPopup();
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration_Check:check_approv_limit' %}",
            data: JSON.stringify(popup_data_dict),
            success: function(response) {
                  table_sort_filter_popup_pagination('id_popup_table')
            //table_sort_filter('id_popup_table');
            var message = ''
            update_check_message(response.messages)
            CloseLoaderPopup();
            }
        });
    }

  //onclick of add button display myModal popup and set GLOBAL_ACTION button value
//**********************************
function onclick_add_button(button) {
   $("#error_msg_id").css("display", "none")
    $("#header_select").prop( "hidden", false );
    GLOBAL_ACTION = button.value
    $('#id_popup_table').DataTable().destroy();
    $("#id_popup_tbody").empty();
    $('#myModal').modal('show');
    basic_add_new_html = '<tr><td><input type="checkbox" required></td><td><select class="form-control">'+user_name_dropdown+'</select></td><td><select class="form-control">'+app_code_id_dropdown+'</select></td><td><select class="form-control">'+company_id_dropdown+'</select></td><td hidden><input type="text" value=""></td><td class="class_del_checkbox" hidden><input type="checkbox" required></td></tr>';
    $('#id_popup_tbody').append(basic_add_new_html);
    table_sort_filter('id_popup_table');
    $("#id_del_ind_checkbox").prop("hidden", true);
    document.getElementById("id_del_add_button").style.display = "block";
    $("#save_id").prop("hidden", false);
}

       function GetReferrer() {
             window.history.back();
              var preUrl = document.referrer;
              console.log(preUrl);
              window.open('', '_self', '').close();
              if (preUrl == null)
                     return "The previous page url is empty";
               else
                     return preUrl;
       }

// validating the  popup table for duplicate entries
function compare_table_for_duplicate_entries(validate_add_attributes, approval_limit) {
    add_attr_duplicates = false;
    var error_message = ''
    var add_attr_duplicates_list = [];
    var add_attr_unique_list = [];
    var no_duplicate_value = 'Y'
    $.each(validate_add_attributes, function(index, value) {
        if ($.inArray(value, add_attr_unique_list) == -1) {
            add_attr_unique_list.push(value);
        } else {
            if ($.inArray(value, add_attr_duplicates_list) == -1) {
                add_attr_duplicates_list.push(value);
            }
        }
    });
    if (add_attr_duplicates_list.length != 0) {
         //error_message = messageConstants["JMSG001"];
          
                var msg = "JMSG001";
                var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    display_message("error_msg_id", msg_type.messages_id_desc[0])
              }
              else if(msg_type.message_type == "WARNING"){
                 display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
              }
              else if(msg_type.message_type == "INFORMATION"){
                 display_message("id_info_msg_id", msg_type.messages_id_desc[0])
              }
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]

    }
   else{
        $.each(approval_limit, function (i, item) {
            if(item.approver_username.length == 0) {
                //error_message = messageConstants["JMSG002"] + "Approver Username";
                
                    var msg = "JMSG002";
                    var msg_type ;
                  msg_type = message_config_details(msg);
                  $("#error_msg_id").prop("hidden", false)

                  if(msg_type.message_type == "ERROR"){
                        display_message("error_msg_id", msg_type.messages_id_desc[0])
                  }
                  else if(msg_type.message_type == "WARNING"){
                     display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
                  }
                  else if(msg_type.message_type == "INFORMATION"){
                     display_message("id_info_msg_id", msg_type.messages_id_desc[0])
                  }
                    no_duplicate_value = 'N'
                    return [no_duplicate_value,error_message]
                  }
            });
        }
        return [no_duplicate_value,error_message]
}

//validate by comparing  main table values and popup table values
function maintable_validation(validate_add_attributes, main_table_low_value) {
    var no_duplicate_entries = 'Y'
    var common = [];
    var error_message =''
    jQuery.grep(validate_add_attributes, function(el) {
        if (jQuery.inArray(el, main_table_low_value) != -1) {
            common.push(el);
        }
    });
    if (common.length != 0) {
        //error_message = messageConstants["JMSG001"]
      
                var msg = "JMSG001";
                var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    display_message("error_msg_id", msg_type.messages_id_desc[0])
              }
              else if(msg_type.message_type == "WARNING"){
                 display_message("id_warning_msg_id", msg_type.messages_id_desc[0])
              }
              else if(msg_type.message_type == "INFORMATION"){
                 display_message("id_info_msg_id", msg_type.messages_id_desc[0])
              }
                no_duplicate_value = 'N'
                return [no_duplicate_value,error_message]
    }
    return [no_duplicate_entries,error_message]
}

function update_check_message(messages){
    $.each(messages, function (i, message) {
                $("#id_check_success_messages").append('<p>' + message + '</p>')
            });

            $("#id_check_success_messages").prop("hidden",false)
}
</script>
<script src="{% static 'scripts/approval_data/approval_limit.js' %}"></script>
{% endblock %}