{% extends 'root/base.html' %}
{% load static %}

{% block title %} Employee Management (Admin Tool){% endblock %}
{% block maincontent %}

<div class="container-fluid">
    <div class="mep-form_wrapper">
        <div class="d-flex justify-content-between">
            <h3>Employee Management</h3>
            <div>
                 <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Admin_Tool:extract_employee_template' %}'"type="button">
                    <i class="fas fa-download"></i> download template
                </button>
                <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Basic_Settings:extract_employee_data' %}'"type="button">
                    <i class="fas fa-download"></i> extract
                </button>
                <button class="btn btn-outline-primary modal_upload" id="id_upload_redirect_data"  title="Upload Data" value="employee_upload"  onclick="onclick_upload_button();" type="button">
                    <i class="fas fa-cloud-upload-alt"></i> upload data
                </button>
                <button class="btn btn-primary" onclick="window.open(href = '{% url 'eProc_Users:register_page' %}')"><i class="fas fa-user-plus"></i> Create Employee</button>
            </div>
        </div>
        <hr>
        <div class="card card-shadow-1">
            <div class="card-body">
                <form method="POST" id="search_form" name="search_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <label for="">Username</label>
                            <input type="text" class="form-control check_for_search" id="username" name="username" value="">
                        </div>
                        <div class="col-md">
                            <label for="">First Name</label>
                            <input type="text" class="form-control check_for_search " id="first_name" name="first_name">
                        </div>
                        <div class="col-md">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control check_for_search" id="last_name" name='last_name'>
                        </div>
                        <div class="col-auto">
                            <button class="button-search-users btn btn-primary" type="submit"
                                title="Please click to get the search details!" onclick="reload()"><i class="fas fa-search"></i> search
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="elements-space-between" data-toggle="collapse" data-target="#employee_adv_search">
                        <span class="h5">Advanced Search</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="employee_adv_search" class="advanced-search-collapse collapse">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="col-md-3">
                                <label for="">User Type</label>
                                <select type="text" class="form-control" id="user_type" name="user_type">
                                     {% for usertype in dropdown_usertype_values %}
                                    <option value="{{usertype.field_type_id}}">{{usertype.field_type_desc}}</option>
                                    {% endfor %}
    
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="">Employee Number</label>
                                <input type="text" class="form-control check_for_search" id="employee_id" name="employee_id">
                            </div>
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input checkbox-size" type="checkbox" name="user_locked">
                                    <label class="form-check-label" for="">
                                        User Locked
                                    </label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input checkbox-size" type="checkbox"  name="pwd_locked">
                                    <label class="form-check-label" for="">
                                        Password Locked
                                    </label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-check">
                                    <input class="form-check-input checkbox-size" type="checkbox" name="is_active" checked>
                                    <label class="form-check-label" for="">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br>
                    <div class="elements-space-between"> 
                        <input type="reset" value="Clear filters" class="ip-form-clear-filters">                     
                        <div>
                            <span class="badge help-text-badge help-text-star-search"></span>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
        {% if employee_results.count > 0 %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">Total number of results found
                    :{{employee_results.count}}</h6>
            </div>
        </div>
        {% elif employee_results.count == 0  %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">No Results Found</h6>
            </div>
        </div>
        {% endif %}
        <div style="margin-top:25px" id="error_msg_div" class="alert alert-success" hidden><span id="success_msg_id"></span></div>
        {% if employee_results %}
        <div class="card mt-5">
            <div>
                 <button class="btn btn-primary  btn-sm mt-2 ml-2"  title="Delete" id="id_delete_emp" value="emp_delete" data-toggle="modal" data-target="#id_delete_confirm_popup" style="display:none;" >
                    <i class="fa fa-trash"></i> delete
                </button>
                <div>
                    <table id="user_tab" class="table table_sort_filter_basic">
                        <thead class="thead-light">
                        <tr>
                        <th> <input type="checkbox" onclick="checkAll(this)"></th>
                        <th> employee no </th>
                        <th> username </th>
                        <th> first name </th>
                        <th> last name </th>
                        <th> email </th>
                        <th> User Status</th>
                        <th> User Lock Status</th>
                        <th> User password Lock status</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="user_tab_tbody">
                        {% for results in employee_results %}
                        <tr id="tr_{{results.email}}">
                            <td><input type="checkbox" class="emp_checkbox" onclick="valueChanged();"></td>
                            <td><a href="{% url 'eProc_Admin_Tool:user_details_page' results.encrypted_email %}" id="{{results.employee_id}}" class="deletepop" target="_blank">{{results.employee_id}}</a></td>
                            <td>{{results.username}}</td>
                            <td>{{results.first_name}}</td>
                            <td>{{results.last_name}}</td>
                            <td>{{results.email}}</td>
                            <td>
                                {% if results.is_active %}
                                <label>Active</label>
                                {% else %}
                                <label>InActive</label>
                                {% endif %}
                            </td>
                            <td>
                                <label class="switch">
                                    <label class="toggle">
                                        {% if results.user_locked %}
                                        <input type="checkbox" id="{{results.employee_id}}-LOCKED" class="toggle-input" checked>
                                        {% else %}
                                        <input type="checkbox" id="{{results.employee_id}}-UNLOCKED" class="toggle-input">
                                        {% endif %}
                                        <div class="toggle-controller default-success"></div>
                                    </label>
                                </label>
                            </td>
                            <td>
                                <label class="switch">
                                    <label class="toggle">
                                        {% if results.pwd_locked %}
                                        <input type="checkbox" id="{{results.employee_id}}-PWDLOCKED" class="toggle-input" checked>
                                        {% else %}
                                        <input type="checkbox" id="{{results.employee_id}}-PWDUNLOCKED" class="toggle-input">
                                        {% endif %}
                                        <div class="toggle-controller default-success"></div>
                                    </label>
                                </label>
                            </td>
                            <td class="item-action-icon-section">
                                <span title="Delete address" onclick="get_user_detail_to_delete(this.id)" id="{{results.email}}">
                                    <i class="material-icons item-action-icons">delete_outline</i>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!--modal popup for user delete-->
<div class="modal fade" id="confirm_delete_pop_up" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete  "<span id="form_id_del"></span>". Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="delete_user()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--delete confirmation popup-->
<div class="modal fade" id="id_delete_confirm_popup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title">Please Confirm</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                <button type="button" onclick="main_table_delete()" class="btn btn-primary"><i class="fas fa-check"></i> yes </button> 
            </div>
        </div>
    </div>
</div>
<!--end of delete confirmation popup-->
 <!--modal popup for Add,copy,update and upload-->
    <!-- The Modal -->
    <div class="modal fade" id="myModal" style="overflow:auto;">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-countries-title"> Employee Upload</h5>
                    <button type="button" class="close remove_upload_data" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body scrollbox">

                    <div id="id_del_add_button" class="mb-4">
                        <button class="btn btn-primary" type="button" onclick="add_popup_row()">
                            <i class="fa fa-plus"></i> Add New Row
                        </button>
                        <button class="btn btn-outline-danger" onclick="application_settings_delete_Row('id_popup_table')">
                            <i class="fa fa-trash"></i> delete
                        </button>
                    </div>
                    <div id="id_check_success_messages" class="alert alert-success check_success_message" hidden></div>
                    <div id="id_check_error_messages" class="alert alert-danger check_error_messages" hidden></div>
                    <div id="id_check_special_character_messages" class="alert alert-danger check_special_character_messages" hidden>
                        <p id="id_error_msg_emp_id" ></p>
                        <p id="id_error_msg2" ></p>
                        <p id="id_error_msg3" ></p>
                    </div>
                    <div id="error_msg_id" class="alert alert-danger display-none" role="alert"><span id="error_message"></span></div>
                    <div id="id_warning_msg_id" class="alert alert-warning display-none" role="alert"></div>
                    <div id="id_info_msg_id" class="alert alert-primary display-none" role="alert"></div>
                    <div style="overflow:auto;">
                    <table class="class_popup_table table table-bordered mt-2" id="id_popup_table" >
                        <thead>
                        <tr>
                            <th id="header_select">Select</th>
                            <th>EMAIL</th>
                            <th>USERNAME</th>
                            <th>PERSON_NO</th>
                            <th>FORM_OF_ADDRESS</th>
                            <th>FIRST_NAME</th>
                            <th>LAST_NAME</th>
                            <th>PHONE_NUM</th>
                            <th>PASSWORD</th>
                            <th>DATE_JOINED</th>
                            <th>FIRST_LOGIN</th>
                            <th>LAST_LOGIN</th>
                            <th>IS_ACTIVE</th>
                            <th>IS_SUPERUSER</th>
                            <th>IS_STAFF</th>
                            <th>DATE_FORMAT</th>
                            <th>EMPLOYEE_ID</th>
                            <th>DECIMAL_NOTATION</th>
                            <th>USER_TYPE</th>
                            <th>LOGIN_ATTEMPTS</th>
                            <th>USER_LOCKED</th>
                            <th>PWD_LOCKED</th>
                            <th>SSO_USER</th>
                            <th>VALID_FROM</th>
                            <th>VALID_TO</th>
                            <th>Del_Ind</th>
                            <th>CURRENCY_ID</th>
                            <th>LANGUAGE_ID</th>
                            <th>OBJECT_ID</th>
                            <th>TIME_ZONE</th>
                            <th id="id_del_ind_checkbox" hidden>Del Indicator</th>
                        </tr>
                        </thead>
                        <tbody id="id_popup_tbody">

                        </tbody>
                    </table>
                </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary remove_upload_data" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button id="id_delete_duplicate" class="btn btn-primary" style="display:none;" type="button" onclick="delete_duplicate()"><i class="fa fa-trash"></i> delete duplicates</button>
                    <button id="id_check_data" style="display:none;" class="btn btn-primary" type="button" onclick="check_data()"><i class="fas fa-check"></i> check</button>
                    <button class="btn btn-primary" id="save_id"><i class="fas fa-save"></i> save</button>
                </div>
            </div>
        </div>
    </div>

    <!--end of modal popup for Add,copy,update and upload-->

<!--modal popup to upload the csv file-->
    <div class="modal fade" id="id_data_upload">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Data Upload</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <p id="id_error_msg_upload" class="alert alert-danger error" hidden></p>
                    </div>
                    <div><label> Upload a file</label></div>
                    <input type="file" id="id_file_data_upload" name="file">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button id="popup_save"  class="btn btn-primary" onclick="onclick_display_csv_data()"><i class="fas fa-save"></i> save</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of modal popup to upload the csv file-->

    <!--save confirmation popup-->
    <div class="modal fade" id="id_save_confirm_popup">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to save?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button type="button" id="id_popup_save" onclick="popup_save_data()" class="btn btn-primary"><i class="fas fa-save"></i> yes</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of save confirmation popup-->

<!--change confirmation popup-->
    <div class="modal fade" id="id_confirm_popup" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" >
                    <h5 class="modal-title">Please Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to Change?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button type="button" onclick="lock_active_change()" class="btn btn-primary"><i class="fas fa-check"></i> yes </button>
                </div>
            </div>
        </div>
    </div>
    <!--end of delete confirmation popup-->

<script src="{% static 'scripts/user-search.js' %}"></script>
<script>
var emp_data_array = {}
var Tablename = uiConstants["CONST_TABLENAME_EMPLOYEE"]
var appname = uiConstants["CONST_APPNAME03"]
var db_header_data = uiConstants['EMAIL','USERNAME','PERSON_NO','FORM_OF_ADDRESS','FIRST_NAME','LAST_NAME','PHONE_NUM','PASSWORD','DATE_JOINED','FIRST_LOGIN','LAST_LOGIN','IS_ACTIVE','IS_SUPERUSER','IS_STAFF','DATE_FORMAT','EMPLOYEE_ID','DECIMAL_NOTATION','USER_TYPE','LOGIN_ATTEMPTS','USER_LOCKED','PWD_LOCKED','SSO_USER','VALID_FROM','VALID_TO','del_ind','CURRENCY_ID','LANGUAGE_ID','OBJECT_ID', 'TIME_ZONE']
var data_delete = '';


function reload()
{
    localStorage.setItem("username", document.getElementById("username").value);
    localStorage.setItem("first_name", document.getElementById("first_name").value);
    localStorage.setItem("last_name", document.getElementById("last_name").value);
    localStorage.setItem("email", document.getElementById("email").value);
    localStorage.setItem("user_type", document.getElementById("user_type").value);
    localStorage.setItem("employee_id", document.getElementById("employee_id").value);
    OpenLoaderPopup();
}

<!--$('#pwd_locked').change(function(){-->
<!--     if($(this).attr('checked')){-->
<!--          $(this).val('True');-->
<!--     }else{-->
<!--          $(this).val('False');-->
<!--     }-->
<!--});-->

// Function to delete User
function delete_user() {
        var user_info = [];
        user_info.push(data_delete);
        $('#confirm_delete_pop_up').modal('hide');
        data = {'data': user_info}
    $.ajax({
        type: 'POST',
        url: "{% url 'eProc_Admin_Tool:delete_user' %}",
        data:JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (Response) {
            display_emp_data(Response.employee_results);
            $('#success_msg_id').text(Response.success_message)
            $("#error_msg_div").prop("hidden",false)
            message_display_time();
        }
    });

}
function get_user_detail_to_delete(element) {
        data_delete = element;
        document.getElementById("form_id_del").innerHTML = data_delete;
        $('#confirm_delete_pop_up').modal('show')
    }
function valueChanged() {
    if ($('.emp_checkbox').is(":checked")) {
        $("#id_delete_emp").show();
    } else {
        $("#id_delete_emp").hide();
    }
}

//onclick of select all checkbox
function checkAll(ele) {
    if (ele.checked) {
        $('.emp_checkbox').each(function() {
            var disable_check = this.disabled
            if(disable_check == false){
                this.checked = true;
                $("#id_delete_emp").show();
            }
        });
    }
    else{
        $('.emp_checkbox').each(function() {
            var disable_check = this.disabled
            if(disable_check == false){
                this.checked = false;
                $("#id_delete_emp").hide();
            }
        });
    }
}
function display_emp_data(emp_data){
    var emp_detail_html = '';
    $('#user_tab').DataTable().destroy();
    $("#user_tab_tbody").empty();
    $.each(emp_data, function (i, emp) {
        if(emp.employee_id){
            checkbox_input = '<input type="checkbox" class="emp_checkbox" onclick="valueChanged()" disabled >'
        }
        else{
            checkbox_input = '<input type="checkbox" class="emp_checkbox" onclick="valueChanged()" >'
        }
        var lock_id, pwd_lock;
        if(emp.user_locked){
            lock_id = '<input type="checkbox" id="'+emp.employee_id.concat("-LOCKED")+'" class="toggle-input" checked>';
            }
        else {
            lock_id = '<input type="checkbox" id="'+emp.employee_id.concat("-UNLOCKED")+'" class="toggle-input">';
        }
        if(emp.pwd_locked){
            pwd_lock = '<input type="checkbox" id="'+emp.employee_id.concat("-PWDLOCKED")+'" class="toggle-input" checked>';
        }
        else {
            pwd_lock = '<input type="checkbox" id="'+emp.employee_id.concat("-PWDUNLOCKED")+'" class="toggle-input">';
            }
        emp_detail_html += '<tr id="'+emp.employee_id+'"><td>'+checkbox_input+'</td> '+
        '<td><a href="#" id="'+ emp.employee_id +'" class="deletepop" target="_blank">'+ emp.employee_id +'</a></td>'+
         '<td>'+ emp.username +'</td>'+
         '<td>'+ emp.first_name +'</td>'+
         '<td>'+ emp.last_name +'</td>'+
         '<td>'+ emp.email +'</td>'+
         '<td>' + emp.is_active + '</td>'+
         '<td><label class="switch"><label class="toggle">' + lock_id + '<div class="toggle-controller default-success"></div></label></label></td>'+
         '<td><label class="switch"><label class="toggle">' + pwd_lock + '<div class="toggle-controller default-success"></div></label></label></td>'+
         '<td class="item-action-icon-section"><span title="Delete address" onclick="get_user_detail_to_delete(this.id)" id="'+ emp.email +'">'+
          '<i class="material-icons item-action-icons">delete_outline</i></span></td>'+
         '</tr>';
            });
    $("#user_tab_tbody").append(emp_detail_html);
    table_sort_filter('user_tab');
}

function main_table_delete(){
    main_table_emp_checked = [];
    $("#user_tab TBODY TR").each(function () {
        var row = $(this);
        var abc = row.find("TD").eq(5).html();
        var country_arr_obj ={};
        var check_status = row.find("TD").eq(0).find('input[type="checkbox"]').is(':checked');
        if(check_status){
            main_table_emp_checked.push(abc);
        }
    });
    $('#id_delete_confirm_popup').modal('hide');
    data = {'data':main_table_emp_checked}
    $.ajax({
        type: 'POST',
        url: "{% url 'eProc_Admin_Tool:delete_user' %}",
        data:JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (Response) {
            display_emp_data(Response.employee_results);
            $('#success_msg_id').text(Response.success_message)
            $("#error_msg_div").prop("hidden",false);
            $("#id_delete_emp").prop("hidden",true);
            message_display_time();
        }
    });
}

//onclick of data Upload copy data to modal pop-up

function onclick_display_csv_data() {
    $('#id_popup_table').DataTable().destroy();
    formdata = new FormData();
    attached_file = $('#id_file_data_upload').prop('files')[0]
    file_extension = (attached_file.name).split(".")[1]
    file_extension = file_extension.toUpperCase();
    if(file_extension == 'CSV'){
    formdata.append("file_attach", attached_file);
    formdata.append("Tablename",Tablename);
    formdata.append("appname",appname);
    $('#id_data_upload').modal('hide');
    //$('#myModal').modal('show');$('#myModal').modal('show');
    $('#id_popup_tbody').empty();
    $.ajax({
        type: 'POST',
        url: "{% url 'eProc_Basic_Settings:data_upload' %}",
        data: formdata,
        contentType: "application/json; charset=utf-8",
        success: function(response) {
            if(response.error_message) {
                $("#id_error_msg_upload").prop("hidden",false)
                document.getElementById("id_error_msg_upload").innerHTML = response.error_message;
                document.getElementById("id_error_msg_upload").style.color = "Red";
                $('#id_data_upload').modal('show');
            }
            else{
                emp_data_array = response;
                var edit_basic_data = '';
                var del_ind = '';
                console.log(response.data);
                $("#id_popup_tbody").empty();
                    $.each(response.data, function (i, value) {
                    del_ind = '<td>' + value[24] + '</td>'
                    if (value[24] == 1) {
                        del_ind=' <input type="checkbox" value="' + value[24] + '" checked>'
                    }
                    else {
                        del_ind= '<input type="checkbox" value="' + value[24] + '" required>'
                    }
                    edit_basic_data += '<tr><td class="class_select_checkbox"><input type="checkbox" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[0] + '" maxlength="2" onkeypress="return /[a-z]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[1] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[2] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[3] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[4] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[5] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[6] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[7] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[8] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[9] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[10] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[11] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[12] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[13] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[14] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[15] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[16] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[17] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[18] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[19] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[20] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[21] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[22] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[23] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[24] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[25] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[26] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[27] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td><input class="form-control" type="text" value="' + value[28] + '" maxlength="100" onkeypress="return /[a-z ]/i.test(event.key)" required></td>'+
                    '<td>'+ del_ind +'</td></tr>';
                });
                $('#id_popup_tbody').append(edit_basic_data);
                $( "#id_del_ind_checkbox").prop( "hidden", false );
                $( "#header_select").prop( "hidden", false );

                $( ".class_del_checkbox").prop( "hidden", false );
                $('#myModal').modal('show');
                $('#id_data_upload').modal('hide');
                document.getElementById("id_del_add_button").style.display = "block";
                $('#id_check_data').modal('show');
                $("#id_check_data").prop("hidden", false);
                $("#save_id").prop("hidden", true);
                table_sort_filter('id_popup_table');
            }
        },
        cache: false,
        processData: false,
        contentType: false,
    });
    }
    else{
        $("#id_error_msg_upload").prop("hidden",false)
              
                    var msg = "JMSG110";
                    var msg_type ;
                  msg_type = message_config_details(msg);
                  $("#error_msg_id").prop("hidden", false)

                  if(msg_type.message_type == "ERROR"){
                        display_message("error_msg_id", msg_type.messages_id_desc)
                  }
                  else if(msg_type.message_type == "WARNING"){
                     display_message("id_warning_msg_id", msg_type.messages_id_desc)
                  }
                  else if(msg_type.message_type == "INFORMATION"){
                     display_message("id_info_msg_id", msg_type.messages_id_desc)
                  }

                  var display = msg_type.messages_id_desc;
                 document.getElementById("id_error_msg_upload").innerHTML = display;

        document.getElementById("id_error_msg_upload").style.color = "Red";
        $('#id_data_upload').modal('show');
    }
}
//check function restricting special char and diaplay the data count of csv file
function check_data() {
    $('#id_popup_table').DataTable().destroy();
    $("#id_check_success_messages").empty()
    $("#id_check_error_messages").empty()
    $("#id_check_success_messages").prop("hidden",true)
    $("#id_check_error_messages").prop("hidden",true)
    $("#id_check_special_character_messages").prop("hidden",true)
    document.getElementById("id_error_msg_country_code").innerHTML = "";
    document.getElementById("id_error_msg_country_name").innerHTML = "";
    document.getElementById("id_error_msg_country_length").innerHTML = "";
    count = 0;
    var emp_array = new Array
    var DB_array = new Array
    var country_list = new Array
    var country_code_check = new Array
    del_ind = ''
    $("#id_popup_table TBODY TR").each(function() {
        var row = $(this);

        //*************** reading data from the pop-up ***************
        country_name = row.find("TD").eq(2).find('input[type="text"]').val().toUpperCase();
        country_code = row.find("TD").eq(1).find('input[type="text"]').val().toUpperCase();
        checked_box = row.find("TD").eq(3).find('input[type="checkbox"]').is(':checked')
            if (checked_box){
                del_ind = '1'
            }
            else{
               del_ind = '0'
            }
        country_list.push([country_code, country_name, del_ind])

        var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;


            //*************** checking for max length for country code (max length = 2) ***************
            if(country_code.length >2){
               var url_new = "{% url 'eProc_Basic:get_message_description' %}";
                var msg = "JMSG004";
                var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    display_message("error_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "WARNING"){
                 display_message("id_warning_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "INFORMATION"){
                 display_message("id_info_msg_id", msg_type.messages_id_desc)
              }

              var display = msg_type.messages_id_desc;
             document.getElementById("id_error_msg_country_length").innerHTML = display  + "Country Code";


                $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                count = count +1;
            }

            //*************** checking for special characters for country code ***************
            else if(format.test(country_code)){
                var url_new = "{% url 'eProc_Basic:get_message_description' %}";
                var msg = "JMSG003";
                var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    display_message("error_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "WARNING"){
                 display_message("id_warning_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "INFORMATION"){
                 display_message("id_info_msg_id", msg_type.messages_id_desc)
              }
              var display4 = msg_type.messages_id_desc;
              document.getElementById("id_error_msg_country_code").innerHTML = display4 + "Country Code";


                $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                count = count +1;
            }
            else{
            $(row.find("TD").eq(1).find('input[type="text"]')).css("border", "none");
            }

            //*************** checking for special characters for country name ***************
            if(format.test(country_name)){
               var url_new = "{% url 'eProc_Basic:get_message_description' %}";
                var msg = "JMSG003";
                var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    display_message("error_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "WARNING"){
                 display_message("id_warning_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "INFORMATION"){
                 display_message("id_info_msg_id", msg_type.messages_id_desc)
              }

              var display4 = msg_type.messages_id_desc;
              document.getElementById("id_error_msg_country_name").innerHTML = display4 + "Country Name";

                $(row.find("TD").eq(2).find('input[type="text"]')).css("border", "1px solid #FF0000");
                count = count +1;
           }
           else{
            $(row.find("TD").eq(2).find('input[type="text"]')).css("border", "none");
            }

           if(country_code_check.includes(country_code)){
                $(row).css("border", "#f8d7da");
                //$(row.find("TD").eq(1).find('input[type="text"]')).css("border", "1px solid #FF0000");
                //$(row.find("TD").eq(2).find('input[type="text"]')).css("border", "1px solid #FF0000");

            }
            else{
                $(row).css("border", "");
            }

            country_code_check.push(country_code)
    });

    //*************** shows save button if there are no errors(special characters and max length) ***************
    if(count == 0){
            $("#id_check_special_character_messages").prop("hidden",true)
             $("#save_id").prop("hidden", false);
    }
    popup_data_dict ={'data_list' : country_list, 'Tablename' : Tablename, 'appname' : appname,
    'db_header_data' : ['EMAIL','USERNAME','PERSON_NO','FORM_OF_ADDRESS','FIRST_NAME','LAST_NAME','PHONE_NUM','PASSWORD','DATE_JOINED','FIRST_LOGIN','LAST_LOGIN','IS_ACTIVE','IS_SUPERUSER','IS_STAFF','DATE_FORMAT','EMPLOYEE_ID','DECIMAL_NOTATION','USER_TYPE','LOGIN_ATTEMPTS','USER_LOCKED','PWD_LOCKED','SSO_USER','VALID_FROM','VALID_TO','del_ind','CURRENCY_ID','LANGUAGE_ID','OBJECT_ID', 'TIME_ZONE']}
    $.ajax({
        type: 'POST',
        url: "{% url 'eProc_Basic_Settings:check_data' %}",
        data: JSON.stringify(popup_data_dict),
        success: function(response) {
            //table_sort_filter_popup_pagination('id_popup_table')
            table_sort_filter('id_popup_table');
            $("#id_check_special_character_messages").prop("hidden",false)
            if(count == 0){
                $("#id_check_special_character_messages").prop("hidden",true)
            }

            //*************** retrieving data counts from views ***************
            check_messages = response
            var newArrayDataOfOjbect = Object.values(check_messages)
            $("#id_check_success_messages").prop("hidden",false)

            //*************** if pop-up data count is greater than zero ***************
            if (newArrayDataOfOjbect[1]>0){
               if (newArrayDataOfOjbect[1] > 0) {

                           
                             var msg = "JMSG010";
                             var msg_type ;
                             msg_type = message_config_details(msg);
                             $("#error_msg_id").prop("hidden", false)
                             var display = msg_type.messages_id_desc;

                        $("#id_check_success_messages").append('<p>' + display + newArrayDataOfOjbect[0] + '</p>')

                           
                             var msg = "JMSG011";
                             var msg_type ;
                             msg_type = message_config_details(msg);
                             $("#error_msg_id").prop("hidden", false)
                             var display1 = msg_type.messages_id_desc;

                        $("#id_check_success_messages").append('<p>' + display1 + newArrayDataOfOjbect[1] + '</p>')

                           
                             var msg = "JMSG012";
                             var msg_type ;
                             msg_type = message_config_details(msg);
                             $("#error_msg_id").prop("hidden", false)
                             var display2 = msg_type.messages_id_desc;
                        $("#id_check_success_messages").append('<p>' + display2 + newArrayDataOfOjbect[3] + '</p>')
                               
                                 var msg = "JMSG013";
                                 var msg_type ;
                                 msg_type = message_config_details(msg);
                                 $("#error_msg_id").prop("hidden", false)
                                 var display3 = msg_type.messages_id_desc;
                        $("#id_check_success_messages").append('<p>' + display3 + newArrayDataOfOjbect[4] + '</p>')
                               
                                 var msg = "JMSG014";
                                 var msg_type ;
                                 msg_type = message_config_details(msg);
                                 $("#error_msg_id").prop("hidden", false)
                                 var display4 = msg_type.messages_id_desc;
                        $("#id_check_success_messages").append('<p>' + display4 + newArrayDataOfOjbect[5] + '</p>')
                               
                                 var msg = "JMSG053";
                                 var msg_type ;
                                 msg_type = message_config_details(msg);
                                 $("#error_msg_id").prop("hidden", false)
                                 var display5 = msg_type.messages_id_desc;
	   				  $("#id_check_success_messages").append('<p>' + display5 + newArrayDataOfOjbect[6] + '</p>')
                //*************** if duplicate data data count is greater than zero ***************
                if(newArrayDataOfOjbect[2]>0){
                  $("#id_check_error_messages").prop("hidden",false)
                              
                                 var msg = "JMSG015";
                                 var msg_type ;
                                 msg_type = message_config_details(msg);
                                 $("#error_msg_id").prop("hidden", false)
                                 var display6 = msg_type.messages_id_desc;
                }
                else{
                    $("#id_check_error_messages").prop("hidden",true)
                    $("#id_delete_duplicate").hide()
                }
            }
            //*************** if pop-up data count is zero ***************
            else{
                $("#id_check_success_messages").hide()
                        $("#id_check_error_messages").prop("hidden", false)
                              
                                 var msg = "JMSG006";
                                 var msg_type ;
                                 msg_type = message_config_details(msg);
                                 $("#error_msg_id").prop("hidden", false)
                                 var display8 = msg_type.messages_id_desc;
                        $("#id_check_error_messages").append('<p>' + display8 + '</p>')
                        $("#save_id").prop("hidden", true);
            }
        }
        }
    });
}
var data = {};
 $('.toggle-input').change(function() {
        $('#id_confirm_popup').modal('show')
        if($(this).is(':checked')) {
            console.log('This is firing');
            $('.toggle-off').removeClass('active');
            $('.toggle-on').addClass('active');
            data.flag = true
        } else {
            $('.toggle-off').addClass('active');
            $('.toggle-on').removeClass('active');
            data.flag = false
        }
        var id = this.id;
        data.employee_id = id;
  });
function lock_active_change(){
        jQuery.ajax({
       type: 'POST',
       url: "{% url 'eProc_Admin_Tool:lock_unlock_emp' %}",
       dataType :'json',
       data: JSON.stringify(data),
       success: function(result){
             $('#id_confirm_popup').modal('hide');
              $('#success_msg_id').text("Changed Successfully");
            $("#error_msg_div").prop("hidden",false)
            message_display_time();
       },
       error: function(xhr, resp, text) {
       },
       cache: false,
       processData: false,
       contentType: false,
   });

    }
</script>
{% endblock %}