<!--Display details of a Document-->

{% extends 'root/base.html' %}
{% load static %}

{% block title %} Details of the Document {% endblock %}

{% block maincontent %}
<!--Display header based on document type-->

<div class="container-fluid">

    <div id="button" class="mo-doc-button-container">
        <h3>Shopping Cart #{{hdr_det.doc_number}}</h3>
        <div class="d-flex">
            <div class="mo-doc-button-group__saved">
                <button type="button" class="btn btn-outline-primary" onclick="window.close()"><i class="fas fa-times"></i> Close</button>

                <button class="btn btn-primary" data-toggle="modal" data-target="#proceed_to_checkout"><i
                        class="fa fa-trash" aria-hidden="true"></i> proceed to checkout
                </button>
            </div>
            {% if sc_appr and sc_completion %}
            <button id="id_order_sc" class="btn btn-primary editable_mode"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> send to purchasing team</button>
            {% endif %}

            {% if sc_appr.0.app_id != 'Auto' and not sc_completion %}
            <button id="id_order_sc" class="btn btn-primary editable_mode"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> submit for approval</button>
            {% endif %}

            {% if sc_appr.0.app_id == 'Auto' and not sc_completion %}
            <button id="id_order_sc" class="btn btn-primary editable_mode"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> place order</button>
            {% endif %}
            {% if is_approval_preview %}
            {% if eligible_approver_flag %}

            <div class="mo-doc-button-group__approval" id="approval_buttons_group">
                <button type="button" class="btn btn-secondary d-inline-flex"><span class="material-icons-outlined">info</span> Inquire</button>
                <button class="btn btn-danger reject-btn" onclick="ApprovalResponseButton(this);" id="APPROVER_REJECTED-{{hdr_det.guid}}-{{hdr_det.doc_number}}"><i class="fas fa-times"></i> Reject</button>
                <button class="btn btn-success approve-btn" onclick="ApprovalResponseButton(this);" id="APPROVER_APPROVED-{{hdr_det.guid}}-{{hdr_det.doc_number}}"><i class="fas fa-check"></i> Approve</button>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>


    <div class="mo-doc-body-wrapper">

        <div class="mo-doc-header">
            <div class="card card-shadow-1">
                <div class="card-body mo-doc-header__doc-details" id="header_div">
                    <input id="header_guid" value="{{ hdr_det.guid }}" hidden>

                    <div class="row">
                        <div class="col-md">
                            <span class="po-header-label">Document Name</span><br>
                            <span class="po-header-desc">{{ hdr_det.description }} <span type="button" class="badge badge-primary editable_mode" id="edit_shopping_cart_name" onclick="edit_sc_name()"><i class="fas fa-edit"></i></span></span>
                        </div>
                        <div class="col-md">
                            <span class="po-header-label">Document Number</span><br>
                            <span class="po-header-desc">{{ hdr_det.doc_number }}</span>
                        </div>
                        <div class="col-md">
                            <span class="po-header-label">Created On</span><br>
                            <span class="po-header-desc">{{ hdr_det.created_at }}</span>
                        </div>
                        <div class="col-md">
                            <span class="po-header-label">Created By</span><br>
                            <span class="po-header-desc">{{ requester_first_name }}</span>
                        </div>
                        <div class="col-md">
                            <span class="po-header-label">Status</span><br>
                            {% if hdr_det.status == 'APPROVED' %}
                            <span class="badge badge-pill badge_status_approved status-pill">APPROVED</span>
                            {% elif hdr_det.status == 'SAVED' %}
                            <span class="badge badge-pill badge_status_save status-pill">SAVED</span>
                            {% elif hdr_det.status == 'REJECTED' %}
                            <span class="badge badge-pill badge_status_rejected status-pill">REJECTED</span>
                            {% elif hdr_det.status == 'PURCHASER_WORKLIST' %}
                            <span class="badge badge-pill badge_status_purch_wrkl status-pill">IN PURCHASER's WORK LIST</span>
                            {% elif hdr_det.status == 'AWAITING_APPROVAL' %}
                            <span class="badge badge-pill badge_status_await_approval status-pill">WAITING FOR APPROVAL</span>
                            {% endif %}
                            <span class="badge badge-pill badge_status_approved" style="display: none;" id="badge_status_approved">APPROVED</span>
                            <span class="badge badge-pill badge_status_rejected" style="display: none;" id="badge_status_rejected">REJECTED</span>
                            <span class="po-header-desc">{{po_header_details.0.created_at}}</span>
                        </div>
                    </div>

                    <span hidden id="requester_hidden_span">{{hdr_det.requester}}</span>
                </div>
            </div>

            <div class="mo-doc-header__alerts-wrapper">
                <div id="sc_warning_messages" class="alert alert-warning display-none"   role="alert"></div>
                <div id="sc_error_msg" class="alert alert-danger display-none"  role="alert"></div>
                <div id="sc_success_messages" class="alert alert-success display-none" ></div>
            </div>
        </div>
        <!-- General Data card section -->
        <div class="elements-space-between mt-4 mr-2 ml-2 mb-3" hidden>

            <div>
                <h6 class="mb-3" hidden>Shop on Behalf of: <input class="" type="text" id="shopping_cart_requester" value="{{requester}}" disabled ></h6>

                <h6 class="mb-3" hidden>Silent PO: <input type="checkbox" id="silent_PO" name="silent_PO" value="silent_PO" ></h6>
            </div>

        </div>

        <div class="mb-4">
            <div class="row no-gutters">
                <div class="col-lg mr-2 ml-2">
                    <!-- Shipping address card -->
                    {% include 'Ship To Bill To Address/display_address_card.html' %}
                </div>

                <div class="col-lg mr-2 ml-2">
                    <!-- Account assignment card -->
                    {% include 'Account Assignment/account_assignment_display_card.html' %}
                </div>
            </div>

        </div>

        <!--  Item overview card section  -->
        <div class="card mb-4 mr-2 ml-2 card-shadow-1">
            <div class="card-body elements-space-between">
                <h4>Cart Overview</h4>

                {% for items in itm_det %}
                {% if items.call_off != '04' %}
                <div class="btn-group" id="add_id" hidden>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            <i class="fa fa-plus" aria-hidden="true"></i> add new item
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="add_item_to_saved_cart('01')">Catalog</a>
                            <a class="dropdown-item" onclick="add_item_to_saved_cart('01')">Free Text</a>
                            <a class="dropdown-item" onclick="add_item_to_saved_cart('03')">Requisition</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div>
                {% include 'Doc_Details/my_order_document_item_detail.html' %}
            </div>
        </div>

        <!--  Approval Process overview card section  -->
        <div class="mr-2 ml-2">
            <div class="card card-shadow-1" id="approval_process_overview">
                <div class="card-body">
                    <div>

                        <div id="id_dynamic"></div>
                        {% include 'Workflow/manager_detail.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Start of POP-UP Section -->

<!-- Pop-Up to delete all the items in shopping cart -->
<div class="modal fade" id="proceed_to_checkout">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Please Confirm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                This action will empty the shopping cart. Would you like to proceed with it?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='{% url 'eProc_Doc_Details:proceed_checkout' encrypt_sc_header_guid %}'"><i class="fas fa-trash-alt"></i> proceed to checkout</button>
            </div>
        </div>
    </div>
</div>
<!-- Start of Change Account assignment category pop up-->
{% include 'Account Assignment/change_account_assignment_modal.html' %}
<!-- End of Change Account assignment category pop up-->

<!--start of change shipping address pop-up-->
{% include 'Ship To Bill To Address/change_shipping_address_modal.html'  %}
<!--end of change shipping address pop-up-->

{% include 'Shopping_Cart/change_goods_receiver_modal/change_goods_receiver.html' %}

<!--start of edit default shipping address pop up-->
{% include 'Ship To Bill To Address/edit_shipping_address.html' %}
<!--end of edit default shipping address pop-up-->

<!--  start of manager detail pop up-->
{% include 'Workflow/manager_detail_modal.html' %}
<script>

var rendered_acc_guid = []
{% for sc_acc in acc_det %}
    rendered_acc_guid.push('{{sc_acc.guid|safe}}')
{% endfor %}

// store rendered highest item guid in global variable
var GLOBAL_HIGHEST_ITEM_GUID = '{{highest_item_guid|safe}}';

// add class to
$("#ScIem-value-" + GLOBAL_HIGHEST_ITEM_GUID).addClass('hg_dummy_highest_item');

// Assign Highest item value's row in table
var GLOBAL_HIGHEST_VALUE_ITEM_ROW = rendered_item_guid.indexOf(GLOBAL_HIGHEST_ITEM_GUID) + 1;
var highest_item_acc_asgn_cat = (document.getElementById('ScAccounting-acc_cat-' + rendered_acc_guid[GLOBAL_HIGHEST_VALUE_ITEM_ROW - 1]).innerHTML).split(' - ')[0].trim()
var highest_item_change_acc_value = (document.getElementById('ScAccounting-acc_val-' + rendered_acc_guid[GLOBAL_HIGHEST_VALUE_ITEM_ROW - 1]).innerHTML).split(' - ')[0].trim()
// ###################################### End of setting highest account assignment category and value ############################################################



    var item_number_attached = '';
// Function to get attachment data from session and display based on item
function get_attachment_IDB(item_number) {
    var item_number_check;
    var total_keys_available = []
    attachment_data_array = new Array();
    total_items = total_items;
    var objectStore = db.transaction("attachments").objectStore("attachments");
    objectStore.openCursor().onsuccess = function (event) {
        var cursor = event.target.result;
        if (cursor) {
            attachment_data_object = {}
            attachment_pk = cursor.value.attachment_data
            if (attachment_pk.includes('attachment_data' + item_number)) {
                attachment_data_object.id = attachment_pk
                item_number_check = cursor.value.attachment_data.substr(-3).split('_')[0]
                if (item_number_check.includes(item_number_attached)) {
                    total_keys_available.push(parseInt(cursor.value.attachment_data.substr(-1)))
                }
                attachment_data_object.dataUrl = cursor.value.dataUrl
                attachment_data_object.file_extension = cursor.value.file_extension_id
                attachment_data_object.file_name = cursor.value.file_name
                attachment_data_object.no_attachments = cursor.value.no_attachments
                attachment_data_object.attachment_name = cursor.value.attachment_name
                attachment_data_object.type = cursor.value.type
                attachment_data_array.push(attachment_data_object)
            }
            cursor.continue();
        } else {
            max_number_of_file_attached = Math.max.apply(Math, total_keys_available)
            if (typeof item_number_check != 'undefined') { sessionStorage.setItem('last_added_file_number_doc_detail-' + item_number_check, max_number_of_file_attached) }
            var attachment_tbody_content = '';
            for (i = 0; i < attachment_data_array.length; i++) {
                $('#attachment_tbody_id-' + item_number).empty()
                array_data = attachment_data_array[i]
                item_file_number = array_data.id.substr(-3)
                file_name = array_data.file_name
                attachment_name = array_data.attachment_name
                attachment_data = array_data.dataUrl
                type = array_data.type
                attachment_tbody_content += window['previous_attachment-' + item_number] + '<tr><td>' + '<a href="' + attachment_data + '" download="' + file_name + '">' + attachment_name + '</a>' + '</td><td>' + type + '</td><td>' + file_name + '<td class="hg_is_hidden"><i style="color: #F0B64D;" id="delete_attachment-' + item_file_number + '" onclick="delete_attachments(this)" class="fas fa-trash-alt"></td></tr>'
                $('#attachment_tbody_id-' + item_number).append(attachment_tbody_content)
                document.getElementById('added_attachments_display-' + item_number).style.display = 'block';
            }
        }
    };
}
// Function to trigger check SC on click of button
$("#id_order_sc").on("click", function () {
    check_shopping_cart('order', 'sc_data', highest_item_acc_asgn_cat, highest_item_change_acc_value);

});

// on click of check button
    function check_shopping_cart(type, sc_data, acc_default, acc_default_val) {
        OpenLoaderPopup();
        $('#sc_error_msg').hide()
        $('#sc_success_messages').hide();
        $('#sc_error_msg').html('');
        var error_messages = '';
        var check_sc_data = '';
        if (type != 'approval_workflow') {
            check_sc_data = get_data_for_check()
            header_level_data = get_sc_header_data()
        }
        var total_val = $('#ScHeader-total_value-' + GLOBAL_HEADER_GUID).text();
        data = {
            'acc_default': highest_item_acc_asgn_cat,
            'acc_default_val': highest_item_change_acc_value,
            'total_val': total_val,
            'check_sc_data': check_sc_data,
            'type': type,
            'requester': $('#shopping_cart_requester').val(),
            'sc_header_guid': GLOBAL_HEADER_GUID,
            'header_level_data':header_level_data
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Shopping_Cart:check_shopping_cart' %}",
            data: JSON.stringify(data),
            success: function (response) {
                manager_detail = response.manager_detail.length
                GLOBAL_MANAGER_DETAIL = response.approver_id;

                sc_errors = response.sc_error
                error_messages += check_ui_errors_warnings(error_messages);
                if (sc_errors.length == 0 && manager_detail != 0 && internal_supplier_error_itemNumber.length == 0) {
                    $('#sc_error_msg').html('');

                                var msg = "JMSG042";
                                var msg_type ;
                              msg_type = message_config_details(msg);
                              $("#error_msg_id").prop("hidden", false)

                              if(msg_type.message_type == "ERROR"){
                                    display_message("error_msg_id", msg_type.messages_id_desc)
                              }
                              else if(msg_type.message_type == "WARNING"){
                                 display_message("id_warning_msg_id", msg_type.messages_id_desc)
                              }
                              else if(msg_type.message_type == "INFORMATION"){
                                 display_message("id_info_msg_id", msg_type.messages_id_desc)
                              }
                              var display = msg_type.messages_id_desc;
                              $('#sc_success_messages').html(display);

                    $('#sc_success_messages').show();
                    if (type == 'order' && manager_detail != 0) {
                        $('#sc_error_msg').hide()
                        save_my_order_doc_detail('order')
                    }
                } else {
                    $('#sc_success_messages').hide();
                    if (type == 'order') {

                            var msg = "JMSG043";
                            var msg_type ;
                          msg_type = message_config_details(msg);
                          $("#error_msg_id").prop("hidden", false)

                          if(msg_type.message_type == "ERROR"){
                                display_message("error_msg_id", msg_type.messages_id_desc)
                          }
                          else if(msg_type.message_type == "WARNING"){
                             display_message("id_warning_msg_id", msg_type.messages_id_desc)
                          }
                          else if(msg_type.message_type == "INFORMATION"){
                             display_message("id_info_msg_id", msg_type.messages_id_desc)
                          }
                          var display = msg_type.messages_id_desc;
                          error_messages += display;

                    }
                    for (i = 0; i < sc_errors.length; i++) {
                        dict_obj = sc_errors[i]
                        for (var key in dict_obj) {
                            error_messages += 'Error at item ' + key + ': ' + dict_obj[key] + '<br>'
                        }
                    }

                    $('#sc_error_msg').html(error_messages);
                    $('#sc_error_msg').show();
                }
                if (type == 'save') {
                    save_shopping_cart_ajax(sc_data)
                }
                GLOBAL_MANAGER_DETAIL = response.approver_id;
                $('#div_manager_detail').empty();
                var manager_icon = '';
                $('#id_dynamic').empty();
                if (response.manager_detail) {
                    $.each(response.manager_detail, function (i, item) {
                        double_angular = '<div class="workflow-overview__next-icon-container"><i class="fas fa-angle-double-right fa-3x"></i></div>';
                        manager_icon += '' + double_angular + '<div class="workflow-overview__user-icon-container"><div class="workflow-user-bg workflow-inactive"><i class="fas fa-user-tie fa-3x" aria-hidden="true"> </i></div><button type="button" class="button-workflow-user">' + item.first_name + '</button></div>';
                    });
                }
                if (response.msg_info) {
                    // error_msg = '<br><br><span style="color:red;">' + response.msg_info + '</span>'
                    $('#sc_error_msg').append(response.msg_info)
                    $('#sc_error_msg').show()
                }
                $('#div_manager_detail').append(manager_icon);
                if(type == 'check'){
                    // $('#hg_loader').modal('hide');
                }
                CloseLoaderPopup();
            }
        });

    }

</script>
{% endblock %}