{% extends 'root/base.html' %}
{% load static %}
{% block title %} Message Descriptions (Application Settings) {% endblock %}
{% block maincontent %}


<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

<div class="container-fluid">
    <div class="configuration-table_wrapper">

        <div class="elements-space-between">
            <h3>Maintain Message Descriptions</h3>
            <div>
                <button class="btn btn-outline-primary"  title="Extract" onclick="location.href='{% url 'eProc_Application_Settings:extract_message_id_desc_data' %}'"type="button">
                    <i class="fas fa-download"></i> extract data
                </button>
                <button type="button" id="id_add_data" value="ADD" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="onclick_add_button(this)">
                    <i class="fa fa-plus"></i> add message description
                </button>
                <button class="btn btn-outline-secondary" id="id_close" value="close" title="Close"  onclick="GetReferrer();">
                    <i class="fas fa-times"></i> close
                </button>
            </div>
        </div>

        <hr>

        <div class="configuration-table_section">
            <div id="err_msg_app_settings"> </div>
            <div id="err_msg_app_settings_t" class="alert alert-success" hidden><span id="success_msg_id"></span></div>

            <div class="table-container tcw-80">

                <div class="edit-button-section mb-4">
                    <button id="id_edit_data" class="btn btn-secondary btn-sm" onclick="onclick_edit_button()">
                        <i class="fas fa-edit" id="edit" title="Edit"></i> edit
                    </button>
                    <button class="btn btn-outline-danger btn-sm" id="id_delete_data" value="DELETE" style="display:none;" data-toggle="modal" data-target="#id_delete_confirm_popup">
                        <i class="fa fa-trash" ></i> delete
                    </button>
                    <button class="btn btn-primary btn-sm" id="id_copy_data" style="display:none;" value="COPY"  type="button" onclick="onclick_copy_button()">
                        <i class="fa fa-copy"></i> copy
                    </button>
                    <button class="btn btn-primary btn-sm" id="id_update_data" style="display:none;" value="UPDATE" type="button" onclick="onclick_update_button()">
                        <i class="far fa-edit"></i> update
                    </button>
                    <button class="btn btn-secondary btn-sm" id="id_cancel_data" style="display:none;" type="button" onclick="display_basic_db_data()">
                        <i class="fas fa-times"></i> cancel
                    </button>
                </div>

                <!--   display basic Message Id table-->
                <table id="display_basic_table" class="class_basic_message_table table table-bordered custom-table">
                    <thead id="id_message_table_header">
                    <tr>
                        <th id="hg_select_checkbox" hidden>
                            <div id="id_check_all" style="display:none;">
                                <INPUT type="checkbox" onchange="checkAll(this)" name="chk[]">
                            </div>
                        </th>
                        <th>Message Number</th>
                        <th>Description</th>
                        <th>Language</th>
                        <th hidden></th>
                    </tr>
                    </thead>
                    <tbody id="id_message_tbody">

                    {% for msg in message_id_desc_data %}
                    <tr>
                        <td class="class_message_checkbox" hidden><input type="checkbox" class="checkbox_check" onclick="valueChanged()" required></td>
                        <td>{{msg.messages_id}}</td>
                        <td>{{msg.messages_id_desc}}</td>
                        {% for lang in language_list %}
                        {% if msg.language_id == lang.language_id %}
                        <td>{{lang.description}}</td>
                        {% endif %}
                        {% endfor %}
                        <td hidden>{{msg.msg_id_desc_guid}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--end of display basic Messages table-->

            </div>

        </div>
    </div>

    <!--modal popup for Add,copy,update and upload-->
    <div class="modal fade" id="myModal" style="overflow:auto;">
        <div class="modal-dialog modal-dialog-centered modal-xl" >
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> Maintain Message Description</h5>
                    <button type="button" class="close remove_upload_data" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body scrollbox">
                    <div id="id_del_add_button" class="mb-4">
                        <button type="button" class="btn btn-primary" onclick="add_popup_row()"><i class="fa fa-plus"></i> add new row</button>
                        <button class="btn btn-outline-danger" onclick="application_settings_delete_Row('id_popup_table')"><i class="fa fa-trash"></i> delete</button>
                    </div>

                    <div id="id_check_success_messages" class="alert alert-success check_success_message" hidden></div>
                    <div id="id_check_error_messages" class="alert alert-danger check_error_messages" hidden></div>
                    <div id="id_check_special_character_messages" class="alert alert-danger check_special_character_messages" hidden>
                        <p id="id_error_msg_length" ></p>
                    </div>
                    <div id="error_msg_id" class="alert alert-danger display-none" role="alert"><span id="error_message"></span></div>
                    <div id="id_warning_msg_id" class="alert alert-warning display-none" role="alert"></div>
                    <div id="id_info_msg_id" class="alert alert-primary display-none" role="alert"></div>


                    <table class="class_popup_table table table-bordered mt-2" id="id_popup_table" >
                        <thead>
                        <tr>
                            <th id="header_select">Select</th>
                            <th>Message Number</th>
                            <th>Description</th>
                            <th>Language</th>
                            <th hidden></th>
                            <th id="id_del_ind_checkbox" hidden>Del Indicator</th>

                        </tr>
                        </thead>
                        <tbody id=id_popup_tbody>

                        </tbody>
                    </table>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline-primary remove_upload_data" data-dismiss="modal"><i class="fas fa-times"></i> cancel</button>
                    <button class="btn btn-primary" id="save_id"><i class="fas fa-save"></i> save</button>

                </div>
            </div>
        </div>
    </div>
    <!--end of modal popup for Add,copy,update and upload-->

    <!-- modal popup to upload the csv file; save confirmation popup; delete confirmation popup -->
    {% include 'configuration_common_pop_up.html' %}


    <div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div style="color: green; ">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div style="color: red; ">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'info' %}
        <div style="color: Black bold"><b>{{ message }}</b> </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>


{% include 'root/loader.html' %}

<script>

    var rendered_message_id_desc_data = {{message_id_desc_data|safe}};
    var rendered_message_id_data = {{messages_id_list|safe}};
    var render_language_data = {{ language_list| safe}};
    var message_id_desc_data_array = {}
    var main_table_message_value =[];
    var message_id_desc = '';
    var edit_basic_data ='';
    var GLOBAL_ACTION='';
    var no_duplicate_entries = 'Y';

    var message_id_dropdown='';
    var language_dropdown= '';
    $.each(rendered_message_id_data, function(i, item){
        message_id_dropdown += '<option value="' + item.messages_id + '">' + item.messages_id + '</option>';
    });

    $.each(render_language_data, function(i, item){
        language_dropdown += '<option value="' + item.language_id + '">' + item.description + '</option>';
    });

    //**************************************
    //onclick of add button display myModal popup and set GLOBAL_ACTION button value
    function onclick_add_button(button){
         $("#error_msg_id").css("display", "none")
         $("#id_info_msg_id").css("display", "none")
         $("#id_warning_msg_id").css("display", "none")
        $( "#header_select").prop( "hidden", false );
        GLOBAL_ACTION=button.value
        $("#id_popup_tbody").empty();
        $('#myModal').modal('show');
        basic_add_new_html = '<tr><td><input type="checkbox" required></td>'+
        '<td><select id="messages_id" name="messages_id" title="Select.." class="form-control"  type="text">'+ message_id_dropdown +'</select></td>' +
        '<td><input class="input form-control check_special_char" type="text" id="messages_desc" name="messages_desc"  required></td>'+
        '<td><select id="language" name="language_id" title="Select..." class="form-control"  type="text">' + language_dropdown +'</select></td>' +
        '<td hidden></td>'+
        '<td class="class_del_checkbox" hidden><input type="checkbox" required></td>'+
        '</tr>';
        $('#id_popup_tbody').append(basic_add_new_html);
        table_sort_filter('id_popup_table');
        $("#id_del_ind_checkbox").prop( "hidden", true );
        document.getElementById("id_del_add_button").style.display = "block";
        $("#save_id").prop("hidden", false);
    }


    //**********************
    // validate and save for add,copy,update and upload data
    function popup_save_data() {
		$('#success_msg_id').empty();
        var Tabledata = { "Dbl_clck_tbl_id": 'MessagesIdDesc' };
        var main_table_low_value = [];
		var error_message = '';
        var main_table_low_value_desc = [];
        var main_table_low_value_lang = [];


        $('#display_basic_table').DataTable().destroy();
        $("#display_basic_table TBODY TR").each(function () {
            var row = $(this);
            var main_attribute = {};
            main_attribute.messages_id = row.find("TD").eq(1).html();
            main_attribute.messages_desc = row.find("TD").eq(2).html();
            main_attribute.language_id = row.find("TD").eq(3).html();
            main_table_low_value.push(main_attribute);
            //main_table_low_value_desc.push(main_attribute.messages_desc);
             main_table_low_value_lang.push(main_attribute.language_id);
        });
        table_sort_filter('display_basic_table');
        $("#id_error_msg").empty();

       [no_duplicate_value,error_message] = compare_table_for_duplicate_entries(validate_add_attributes,message_id_desc_data)
       if (error_message){
        display_error_message(error_message)
         }
    else{
        if ((GLOBAL_ACTION == "COPY") || (GLOBAL_ACTION == "ADD") ) {
            no_duplicate_entries = maintable_validation(duplicate_entry, main_table_low_value)
        }
        if ((no_duplicate_value == 'Y') && (no_duplicate_entries == 'Y')) {
            $('#id_save_confirm_popup').modal('hide');
            data = {'data':message_id_desc_data,'table_name':'MessagesIdDesc','action':GLOBAL_ACTION}
            $.ajax({
                type: 'POST',
                url: "{% url 'eProc_Configuration:create_update_application_data' %}",
                data:
                    JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (Response) {
                    rendered_message_id_desc_data = Response[0];
                    display_basic_db_data();
                    $('#myModal').modal('hide');
                     $('#id_error_msg').text(messageConstants["JMSG001"])
                    $('#success_msg_id').text(Response[1])
                    if(Response[1].message_type== 'SUCCESS'){
                         $('#success_msg_id').text(Response[1].message_desc)
                    }
                    $("#err_msg_app_settings_t").prop("hidden", false)
<!--                    setTimeout(function () { $("#err_msg_app_settings_t").prop("hidden", true); }, 5000)-->
                   message_display_time();
                   table_sort_filter('display_basic_table');

                }
            });
        }
         else if (error_message){
            display_error_message(error_message)
        }
    }
 }
    //***************************
    //delete the selected row in db................
    var main_table_message_id_desc_checked = [];
    function main_table_delete() {
         $('#success_msg_id').empty()
		 GLOBAL_ACTION = 'DELETE'
        var Tabledata = { "Dbl_clck_tbl_id": 'MessagesIdDesc' };
        $('#display_basic_table').DataTable().destroy();
        $("#display_basic_table TBODY TR").each(function () {
            var row = $(this);
            var message_id_desc_arr_obj = {};
             var lang_desc;
            var lang_code;
            lang_desc = row.find("TD").eq(3).html();
            for (i = 0; i < render_language_data.length; i++) {
                if (lang_desc == render_language_data[i].description)
                    lang_code = render_language_data[i].language_id
            }

            message_id_desc_arr_obj.del_ind = row.find("TD").eq(0).find('input[type="checkbox"]').is(':checked');
             if(message_id_desc_arr_obj.del_ind){
                message_id_desc_arr_obj.messages_id = row.find("TD").eq(1).html();
                message_id_desc_arr_obj.messages_desc = row.find("TD").eq(2).html();
                message_id_desc_arr_obj.language_id = lang_code;
                message_id_desc_arr_obj.msg_id_desc_guid = row.find("TD").eq(4).html();
                main_table_message_id_desc_checked.push(message_id_desc_arr_obj);
              }
            });
        $('#id_delete_confirm_popup').modal('hide');
         data = {'data':main_table_message_id_desc_checked,'table_name':'MessagesIdDesc','action':GLOBAL_ACTION}
        $.ajax({
            type: 'POST',
            url: "{% url 'eProc_Configuration:create_update_application_data' %}",
            data:
                JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Response) {
                rendered_message_id_desc_data = Response[0];
                display_basic_db_data();
                $('#success_msg_id').text(Response[1])
                 if(Response[1].message_type== 'SUCCESS'){
                         $('#success_msg_id').text(Response[1].message_desc)
                    }
                $("#err_msg_app_settings_t").prop("hidden", false)
                 table_sort_filter('id_popup_table');
<!--                setTimeout(function () { $("#err_msg_app_settings_t").prop("hidden", true); }, 5000)-->
                message_display_time();
                 table_sort_filter('id_popup_table');
            }
        });
    }

//validate by comparing  main table values and popup table values
function maintable_validation(message_data,main_table_low_value) {
 var no_duplicate_entries = 'Y'
    var error_message =''
    var dup_entry = "";

     $.each(message_data, function (i, item) {
        $.each(main_table_low_value, function (j, item1) {
            if((item.messages_id == item1.messages_id) && (item.language_id == item1.language_id)){
                dup_entry = "1"
            }
        });
     });
    if((dup_entry == "1"))
    {
     var url_new = "{% url 'eProc_Basic:get_message_description' %}";
            var msg = "MSG186";
            var msg_type ;
              msg_type = message_config_details(msg);
              $("#error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "ERROR"){
                    message_type_check("error_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "WARNING"){
                 message_type_check("id_warning_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "INFORMATION"){
                 message_type_check("id_info_msg_id", msg_type.messages_id_desc)
              }
            $('#id_save_confirm_popup').modal('hide');
            $('#myModal').modal('show');
    no_duplicate_entries = 'N'
    }

    return no_duplicate_entries
}
//**********************************************************
    function onclick_copy_update_button(data) {
        $("#error_msg_id").css("display", "none")

        $("#id_popup_tbody").empty();
        $('#display_basic_table').DataTable().destroy();
        //Reference the Table.
        var grid = document.getElementById("display_basic_table");

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        var edit_basic_data = "";
        var dropdown_values = [];
        //Loop through the CheckBoxes.
        for (var i = 1; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;
                if(GLOBAL_ACTION == "UPDATE"){
                 unique_input = '<select id="messages_id" name="messages_id" class="form-control"  type="text" title="Select..." disabled>' +message_id_dropdown+'</select>'
                edit_basic_data += '<tr><td hidden><input type="checkbox" required></td>' +
                                    '<td>'+ unique_input +'</td>' +
                                        '<td><input class="input form-control check_special_char" type="text" id="messages_desc" name="messages_desc" value="' + row.cells[2].innerHTML + '"  required></td>'+
                                        '<td><select id="language" name="language" class="form-control" title="Select..." type="text" >'+ language_dropdown +'</select></td>' +
                                        '<td class="class_del_checkbox" hidden><input type="checkbox" required></td> <td hidden><input class="form-control" type="text" value="' + row.cells[4].innerHTML + '"></td></tr>';
                                        $("#header_select").prop("hidden", true);
                                      }
                else {
                    unique_input = '<select id="messages_id" name="messages_id" class="form-control"  type="text" title="Select...">' +message_id_dropdown+'</select>'
                edit_basic_data += '<tr><td><input type="checkbox" required></td>' +
                                    '<td>'+ unique_input +'</td>' +
                                        '<td><input class="input form-control check_special_char" type="text" id="messages_desc" name="messages_desc" value="' + row.cells[2].innerHTML + '"  required></td>'+
                                        '<td><select id="language" name="language" class="form-control" title="Select..." type="text" >'+ language_dropdown +'</select></td>' +
                                        '<td class="class_del_checkbox" hidden><input type="checkbox" required></td> <td hidden><input class="form-control" type="text" value="' + row.cells[4].innerHTML + '"></td></tr>';
                                        $("#header_select").prop("hidden", false);
                }
                var message_id_value = row.cells[1].innerHTML
                var language_value = row.cells[3].innerHTML
                dropdown_values.push([message_id_value, language_value])

            }
        }
        $('#id_popup_tbody').append(edit_basic_data);
        var i =0;
        $("#id_popup_table TBODY TR").each(function() {
        var row = $(this);
         var messageid_value = dropdown_values[i][0]
        var lang_value = dropdown_values[i][1]
         var lang_id;

         for (i = 0; i < render_language_data.length; i++) {
             if (lang_value == render_language_data[i].description)
                 lang_id = render_language_data[i].language_id;
             }

        $(row.find("TD").eq(1).find("select option[value="+messageid_value+"]")).attr('selected','selected');
        $(row.find("TD").eq(3).find("select option[value="+lang_id+"]")).attr('selected','selected');

        i++;
    });

        $("#id_del_ind_checkbox").prop("hidden", true);
        $('#myModal').modal('show');
        table_sort_filter('id_popup_table');
        table_sort_filter('display_basic_table');

    }
// on click add icon display the row in to add the new entries
    function add_popup_row() {
        basic_add_new_html = '';
        var display_db_data = '';
        $('#id_popup_table').DataTable().destroy();
        $(".modal").on("hidden.bs.modal", function () {
            $("#error_msg_id").html("");
        });
        basic_add_new_html = '<tr><td><input type="checkbox" required></td>'+
             '<td><select id="messages_id" name="messages_id" class="form-control" title="Select..."  type="text">'+ message_id_dropdown +'</select></td>' +
             '<td><input class="input form-control check_special_char" type="text" id="messages_id_desc" name="messages_id_desc"  required></td>'+
             '<td><select id="language" name="language" title="Select..." class="form-control"  type="text">'+ language_dropdown +'</select></td>' +
            '<td class="class_del_checkbox" hidden><input type="checkbox" required></td>'+
            '<td hidden></td></tr>';

        $('#id_popup_tbody').append(basic_add_new_html);
        if (GLOBAL_ACTION == "message_id_upload") {
            $(".class_del_checkbox").prop("hidden", false);
        }
        table_sort_filter_popup_pagination('id_popup_table');
    }

           function GetReferrer() {
             window.history.back();
              var preUrl = document.referrer;
              console.log(preUrl);
              window.open('', '_self', '').close();
<!--               var win = window.open(preUrl);-->
<!--                win.focus();-->
              if (preUrl == null)
                     return "The previous page url is empty";
               else
                     return preUrl;
       }

       //****************************
// validating the  popup table for duplicate entries

function compare_table_for_duplicate_entries(validate_add_attributes, message) {
    add_attr_duplicates = false;
     var error_message = ''
    var add_attr_duplicates_list = [];
    var add_attr_unique_list = [];
    var no_duplicate_value = 'Y'
    $.each(validate_add_attributes, function (index, value) {

        if ($.inArray(value, add_attr_unique_list) == -1) {
            add_attr_unique_list.push(value);
        }
        else {
            if ($.inArray(value, add_attr_duplicates_list) == -1) {
                add_attr_duplicates_list.push(value);
            }
        }
    });
     if(add_attr_duplicates_list.length != 0){
      // error_message = messageConstants["JMSG001"];
        no_duplicate_value = 'N'
    //}
//       else {
//         $.each(message, function (i, item) {
//          if (item.message_id.length != 0) {
//            $("#id_error_msg_id").prop("hidden", false)
        var url_new = "{% url 'eProc_Basic:get_message_description' %}";
            var msg = "MSG186";
            var msg_type ;
              msg_type = message_config_details(msg);
              $("#id_error_msg_id").prop("hidden", false)

              if(msg_type.message_type == "Error"){
                    message_type_check("id_error_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "Warning"){
                 message_type_check("id_warning_msg_id", msg_type.messages_id_desc)
              }
              else if(msg_type.message_type == "Information"){
                 message_type_check("id_info_msg_id", msg_type.messages_id_desc)

              }
            error_message =  msg_type.messages_id_desc;
            $('#id_save_confirm_popup').modal('hide');
            $('#myModal').modal('show');
        no_duplicate_entries = 'N'
    }


    return [no_duplicate_value,error_message]
}

</script>

<script src="{% static 'scripts/message_desc_config.js' %}"></script>

{% endblock %}